* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #111;
}

/* HERO */
.hero {
  background: #0A0A0A;
  color: white;
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
}

.hero p {
  margin: 20px 0;
  font-size: 18px;
}

.btn {
  background: #F4C430;
  color: black;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
}

/* ABOUT */
.about {
  padding: 80px 20px;
  text-align: center;
  background: #ffffff;
}

.about h2 {
  color: #F4C430;
  margin-bottom: 40px;
}

.about-content {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.icon {
  font-size: 30px;
  color: #F4C430;
  margin-bottom: 15px;
}

/* LINKS */
.links {
  background: #0A0A0A;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #111;
  padding: 30px;
  width: 220px;
  text-decoration: none;
  color: white;
  border: 1px solid #F4C430;
  transition: 0.3s;
}

.card:hover {
  background: #F4C430;
  color: black;
}

/* PARTNERSHIP */
.partnership {
  padding: 80px 20px;
  text-align: center;
  background: #F7F7F7;
}

.btn-dark {
  display: inline-block;
  margin-top: 20px;
  background: #0A0A0A;
  color: #F4C430;
  padding: 12px 25px;
  text-decoration: none;
}

/* CONTACT */
.contact {
  padding: 80px 20px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background: #F4C430;
  border: none;
  padding: 12px;
  font-weight: bold;
}

/* FOOTER */
footer {
  background: #0A0A0A;
  color: white;
  text-align: center;
  padding: 30px 10px;
}